.article{
  padding-bottom: 32px;
  &--full{
    .article__group{
      grid-template-columns: 100%;
    }
  }
  &__group{
    display: grid;
    grid-template-columns: auto 368px;
    gap: 24px;
    margin-top: 24px;
  }
  &__title{
    margin-bottom: 64px;
  }
  &__text{
    li{
      margin-bottom: 0 !important;
    }
  }
  &__sticky{
    position: sticky;
    top: 120px;
  }
}

@media screen and (max-width: 992px){
  .article{
    padding-bottom: 16px;
    &__group{
      grid-template-columns: 100%;
    }
    .catalog-quiz{
      display: block;
    }
    .equip-card{
      display: none;
    }
  }
}
