<div class="container">
    <div class="footer__top">
        <div class="footer__info">
            <div class="footer__logo logo">
                <img src="img/logo2.svg" alt="">
                <span>
                    Центр качества <br> водных технологий
                </span>
            </div>
            <div class="footer__c">
                ©2013−2022  ООО «Центр качества водных Технологий».  Все права защищены.
            </div>
        </div>
        <div class="footer__links">
            <div class="footer__links-col">
                <a href="" class="footer__link blue-link">Оборудование</a>
                <a href="" class="footer__link blue-link">Фильтрующие материалы</a>
                <a href="" class="footer__link blue-link">Услуги</a>
                <a href="" class="footer__link blue-link">Поставщики</a>
            </div>
            <div class="footer__links-col">
                <a href="" class="footer__link blue-link">Акции</a>
                <a href="" class="footer__link blue-link">Скидки</a>
            </div>
        </div>
        <div class="footer__links2">
            <a href="" class="footer__link2">О компании</a>
            <a href="" class="footer__link2">Доставка </a>
            <a href="" class="footer__link2">Оплата</a>
            <a href="" class="footer__link2">Условия продажи</a>
            <a href="" class="footer__link2">Партнёры</a>
            <a href="" class="footer__link2">Адреса демонстрационных залов</a>
        </div>
        <div class="footer__contacts">
            <a href="tel:+78129264411" class="footer__phone">+7 (812) 926-44-11</a>
            <a href="tel:+78129955871" class="footer__phone">+7 (812) 995-58-71</a>
            <a href="mailto:info@aquasorbent.ru" class="footer__mail blue-link">info@aquasorbent.ru</a>
        </div>
    </div>
    <div class="footer__bottom">
        <a href="" class="footer__link3">Правила сервиса</a>
        <a href="" class="footer__link3">Политика конфиденциальности</a>
    </div>
</div>


<button class="scroll-up mbtn mbtn-primary">
    <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.0284 7.81873L9.01417 1.54673L0.999956 7.81873" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.01416 2.24361L9.01416 22.4534" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round"/>
    </svg>
</button>
