<div class="props-table">
    <table>
        <thead>
        <tr>
            <th>Характеристика</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="body-text-big ">Вес</td>
            <td class="body-text-big semi-bold">9 500 гр</td>
        </tr>
        <tr>
            <td class="body-text-big ">Тип товара</td>
            <td class="body-text-big semi-bold">Фильтр для воды</td>
        </tr>
        <tr>
            <td class="body-text-big ">Число ступеней очистки</td>
            <td class="body-text-big semi-bold">5</td>
        </tr>
        <tr>
            <td class="body-text-big ">Область применения</td>
            <td class="body-text-big semi-bold">RO 808-550-EZ</td>
        </tr>
        <tr>
            <td class="body-text-big ">Страна производитель</td>
            <td class="body-text-big semi-bold">Бытовая</td>
        </tr>
        <tr>
            <td class="body-text-big ">Материал</td>
            <td class="body-text-big semi-bold">Южная Корея</td>
        </tr>
        <tr>
            <td class="body-text-big ">Принцип работы</td>
            <td class="body-text-big semi-bold">Пластик</td>
        </tr>
        <tr>
            <td class="body-text-big ">Минерализация</td>
            <td class="body-text-big semi-bold">Обратный осмос</td>
        </tr>
        <tr>
            <td class="body-text-big ">Комплектация</td>
            <td class="body-text-big semi-bold">Нет</td>
        </tr>
        <tr>
            <td class="body-text-big ">Очистка от механических загрязнений</td>
            <td class="body-text-big semi-bold">Полная</td>
        </tr>
        <tr>
            <td class="body-text-big ">Тип картриджа</td>
            <td class="body-text-big semi-bold">Стандарт</td>
        </tr>
        <tr>
            <td class="body-text-big ">Внешний вид</td>
            <td class="body-text-big semi-bold">Стандарт (без корпуса)</td>
        </tr>
        <tr>
            <td class="body-text-big ">Количество в упаковке</td>
            <td class="body-text-big semi-bold">Есть</td>
        </tr>
        <tr>
            <td class="body-text-big ">Очистка от хлора и хлорорганики</td>
            <td class="body-text-big semi-bold">10 SL, 1812</td>
        </tr>
        <tr>
            <td class="body-text-big ">Типоразмер сменных модулей</td>
            <td class="body-text-big semi-bold">10 SL, 1812</td>
        </tr>
        <tr>
            <td class="body-text-big ">Давление в накопительном баке</td>
            <td class="body-text-big semi-bold">10 SL, 1812</td>
        </tr>
        <tr>
            <td class="body-text-big ">Отдельный кран для чистой воды</td>
            <td class="body-text-big semi-bold">10 SL, 1812</td>
        </tr>
        <tr>
            <td class="body-text-big ">Очистка от солей жёсткости</td>
            <td class="body-text-big semi-bold">10 SL, 1812</td>
        </tr>
        <tr>
            <td class="body-text-big ">Ширина</td>
            <td class="body-text-big semi-bold">10 SL, 1812</td>
        </tr>
        </tbody>
    </table>
</div>
