<div class="container">
    <div class="services__title display3">Услуги</div>
    <div class="services__items">
        @@include('../cards/_service-card.html',{"img":"service","title":"Проектирование систем водоочистки","desc":"Поиск оптимального решения под конкретные задачи водоснабжения клиента"})
        @@include('../cards/_service-card.html',{"img":"service2","title":"Бурение <br> скважин","desc":"Важнейший этап в организации системы автономного водоснабжения"})
        @@include('../cards/_service-card.html',{"img":"service3","title":"Сервисное обслуживание систем водоочистки","desc":"Поиск оптимального решения под конкретные задачи водоснабжения клиента"})
        @@include('../cards/_service-card.html',{"img":"service4","title":"Анализ <br> воды","desc":"Поиск оптимального решения под конкретные задачи водоснабжения клиента"})
        @@include('../cards/_service-card.html',{"img":"service5","title":"Бесплатный подбор оборудования","desc":"Важнейший этап в организации системы автономного"})
        <div class="service-card">
            <div class="service-card__title display4">Не нашли свою задачу? Мы можем помочь</div>
            <button class="service-card__btn mbtn mbtn-primary-outline">Напишите нам</button>
        </div>
    </div>
</div>
