<div class="specific-table">
    <table>
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Тип</th>
            <th>Размер, <br>дюймы</th>
            <th>Степень фильтрации, мкм</th>
            <th>Габариты, мм</th>
            <th>Количество <br>в упаковке</th>
            <th>Розничная цена, ₽ <br> (<100 шт.)</th>
            <th>Оптовая цена, ₽ <br> (>100 шт.)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="specific-table__title">
            <td colspan="8" class="display4 medium">Картриджи AquaS из вспененного полипропилена</td>
        </tr>
        @@include('../cards/_specific-row.html')
        @@include('../cards/_specific-row.html')
        @@include('../cards/_specific-row.html')
        @@include('../cards/_specific-row.html')
        @@include('../cards/_specific-row.html')
        @@include('../cards/_specific-row.html')
        </tbody>
    </table>
</div>
