$font1:'Inter',sans-serif;
$black: #141414;
$primary: #0075FF;
$primaryHover: #3994FF;
$primaryActive: #0A65D1;
$secondary: blue;
$gray: #CBD3DF;
$gray2: #676F7B;
$darkGray: #314578;
$grayBg: #F9F9F9;
$red: #FF000F;
